/venv

# Игнорировать временные файлы редакторов
*.swp
.idea/
.vscode/

# Игнорировать директорию для хранения отправленных писем
sent_emails/

# Игнорировать файлы ОС
.DS_Store
Thumbs.db

# Игнорировать файлы логов
*.log

# Игнорировать файлы базы данных
*.sqlite3

# Игнорировать статические файлы, если они генерируются
staticfiles/